<div>
    <table class="table table-striped" ng-init="getCurrentPatient()">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Id</th>
            <th>Address</th>
        </tr>
        <tr ng-repeat="patient in patients">
            <td><a href="" ng-click="viewPatient(patient)">{{patient.name}}</a></td>
            <td><span>{{patient.age}}</span></td>
            <td><span>{{patient.id}}</span></td>
            <td><span>{{patient.address}}</span></td>
        </tr>
    </table>

    <a class="btn btn-primary" href="" ng-click="prevPatients()">previous</a>
    <a class="btn btn-primary" href="" ng-click="nextPatients()">next</a>
</div>
