<div ng-init="initComplaint()">
    <div class="pres-head">
        <span class="name">{{currentPatient.name}}</span>
        <span>({{currentPatient.age}})</span>
    </div>
    <p class="pres pres-diag">{{currentComplaint.complaint}}</p>

    <h2>Previous Sessions</h2>

    <table class="table table-striped">

        <tr ng-repeat="session in currentComplaint.sessions">
            <td>
                <a href="" ng-click="viewSessionDetails(currentPatient, session, currentComplaint)">{{session.date}}</a>
            </td>
            <td>{{session.diagnosis}}</td>
            <td> {{session.medicine}}</td>
        </tr>

    </table>

    <h2>New Session</h2>

    <p>
        <input class="data-input" placeholder="Diagnosis" type="text" ng-model="diagnosis"></input>
    </p>

    <p ng-repeat="med in medicine">
        <input class="data-input" placeholder="Medicine Prescribed" type="text" ng-model="med.value"/>
    </p>

    <a class="btn btn-primary" href="" ng-click="addSession()">Save Session</a>
    <a class="btn btn-primary" href="" ng-click="addMedicine()">Add medicine</a>

    <div class="error-msg">
        <span>{{errMsg}}</span>
    </div>
</div>
