<h2>Add Session</h2>
<div ng-init="initComplaint()">
    <p>
        Name:{{currentPatient.name}}
    </p>

    <p>
        Age:{{currentPatient.age}}
    </p>

    <p>
        Complaint:{{currentComplaint.complaint}}
    </p>

    <p>
        <input class="data-input" placeholder="Diagnosis" type="text" ng-model="diagnosis"/>
    </p>

    <p>
        <input class="data-input" placeholder="Medicine Prescribed" type="text" ng-model="medicine"/>
    </p>

    <a class="button" href="" ng-click="addSession()">Save Session</a>
</div>