<h2>Add Session</h2>
<div ng-init="initComplaint()">
    <p>
        Name:{{currentPatient.name}}
    </p>

    <p>
        Age:{{currentPatient.age}}
    </p>

    <p>
        Complaint:{{currentComplaint.complaint}}
    </p>

    <table class="sessions-table">
        <tr>
            <th class="session-cell session-header">date</th>
            <th class="session-cell session-header">diagnosis</th>
            <th class="session-cell session-header">medicine</th>
        </tr>

        <tr ng-repeat="session in currentComplaint.sessions">
            <td class="session-cell">{{session.date}}</td>
            <td class="session-cell">{{session.diagnosis}}</td>
            <td class="session-cell"> {{session.medicine}}</td>
            <td class="session-cell"><a href="" ng-click="viewSessionDetails(currentPatient, session)">view session</a></td>
        </tr>

    </table>

    <p>
        <input class="data-input" placeholder="Medicine Prescribed" type="text" ng-model="medicine"/>
    </p>

    <p>
        <textarea class="data-input tall-input" placeholder="Diagnosis" type="text" ng-model="diagnosis"></textarea>
    </p>


    <a class="btn btn-primary" href="" ng-click="addSession()">Save Session</a>

    <div class="error-msg">
        <span>{{errMsg}}</span>
    </div>
</div>
