<html lang="en" ng-app="pms">
    <head>
        <title>Welcome to PMS</title>
        <link rel="stylesheet" type="text/css" href="/css/pms.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
        <script src="controllers.js"></script>
    </head>

    <body ng-controller="NewPatientCtrl">
        <div>
            <div class="heading">
                <span>Patient Management System</span>
            </div>

#*            <input class="search-box" placeholder="Name" type="text" ng-model="patientName">
            <a class="search-button" href="" ng-click="searchPatient()">Search</a>*#

        </div>

        <div class="container banner-box">

            <div ng-view>
            </div>
        </div>
    </body>
</html>