.button {

    padding: 5px 16px;
    font-size: 18px;
    line-height: 1.33;
    color: #fff;
    margin: 10px;

    text-align: center;
    vertical-align: middle;

    cursor: pointer;

    background-color: #428bca;
    border-radius: 6px;

    border: 1px solid transparent;

}

a {
    text-decoration: none;
    margin: 10px;
}

.box {
    padding: 10px 164px;
}

.heading {
    font-size: 20px;
    padding: 2px 10px;
}

.banner-box {
    padding-left: 30%;
    padding-right: 30%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    float: left;
}

input {
    height: 34px;
    width: 350px;
    padding: 5px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.42857143;
    border: 1px solid black;
    border-radius: 4px;
}
ul{
    margin:10px;
    padding:10px;
}

li {
    list-style-type:none;


}

.search-results{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    font-size: 35px;
}

nav {
    background-color: black;
    color:white;
    width: 100%;
}